<div th:fragment="content">

    <h2>Orders</h2>

	<form method="get" th:action="@{/admin/orders}" class="row g-3 mb-4">

    <!-- Search -->
    <div class="col-md-3">
        <input type="text"
               name="keyword"
               class="form-control"
               placeholder="Order ID or Customer Name"
               th:value="${param.keyword}">
    </div>

    <!-- Status -->
    <div class="col-md-2">
        <select name="status" class="form-select">
            <option value="">All Statuses</option>
            <option th:each="s : ${statuses}"
                    th:value="${s}"
                    th:text="${s}"
                    th:selected="${param.status != null and param.status[0] == s.name()}">
            </option>
        </select>
    </div>

    <!-- From Date -->
    <div class="col-md-2">
        <input type="date"
               name="fromDate"
               class="form-control"
               th:value="${param.fromDate}">
    </div>

    <!-- To Date -->
    <div class="col-md-2">
        <input type="date"
               name="toDate"
               class="form-control"
               th:value="${param.toDate}">
    </div>

    <!-- Filter Button -->
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">
            🔍 Filter
        </button>
    </div>

    <!-- Clear Button -->
    <div class="col-md-1">
        <a th:href="@{/admin/orders}" class="btn btn-secondary w-100">
            ✖
        </a>
    </div>	

	</form>



    <table class="table table-bordered table-striped align-middle orders-table">
        <thead class="table-dark">
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Address</th>
            <th>State</th>
            <th>Ordered At</th>
            <th>Total</th>
            <th>Status</th>
            <th width="250">Update Status</th>
            <th>Cancel Reason</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="order : ${orders}">
            <td><a th:href="@{/admin/orders/{id}(id=${order.id})}"
       				th:text="${order.id}"></a></td>
            <td th:text="${order.customer?.name}"></td>
            <td th:text="${order.address}"></td>
            <td th:text="${order.state}"></td>
            <td th:text="${#temporals.format(order.orderDate, 'dd MMM yyyy, hh:mm a')}"></td>
            <td class="text-nowrap">₹ <span th:text="${order.totalAmount}"></span></td>

            <td>
                <span class="badge"
                      th:classappend="
                        ${order.status.name() == 'PLACED'} ? ' bg-warning' :
                        (${order.status.name() == 'CONFIRMED'} ? ' bg-info' :
                        (${order.status.name() == 'PACKED'} ? ' bg-primary' :
                        (${order.status.name() == 'DELIVERED'} ? ' bg-success' :
                        ' bg-secondary')))"
                      th:text="${order.status}">
                </span>
            </td>

            <td>
    			<form th:action="@{/admin/orders/{id}/status(id=${order.id})}"
          			  method="post"
          			  class="status-update-form">

        			  <select name="status" class="status-select">
            				<option th:each="s : ${allowedStatuses[order.id]}"
                    				th:value="${s}"
                    				th:text="${s}"
                    				th:selected="${s == order.status}">
            				</option>
        			  </select>

        			  <button type="submit" class="status-update-btn">Update</button>
    			</form>
			</td>

			<td>
    			<span th:if="${order.status.name() == 'CANCELLED'}"
          				th:text="${order.cancelReason}">
    			</span>

    			<span th:if="${order.status.name() != 'CANCELLED'}">
        			-
    			</span>
			</td>
			
        </tr>
        </tbody>
    </table>
    
    
    <div class="d-flex justify-content-center mt-4">

    <!-- Previous -->
    <a class="btn btn-outline-dark me-2"
       th:if="${orderPage.hasPrevious()}"
       th:href="@{/admin/orders(
            page=${orderPage.number - 1},
            keyword=${keyword},
            status=${status},
            fromDate=${fromDate},
            toDate=${toDate}
       )}">
        Previous
    </a>

    <!-- Page Numbers -->
    <span th:each="i : ${#numbers.sequence(0, orderPage.totalPages - 1)}">

        <a th:href="@{/admin/orders(
                page=${i},
                keyword=${keyword},
                status=${status},
                fromDate=${fromDate},
                toDate=${toDate}
           )}"

           th:text="${i + 1}"

           th:classappend="${orderPage.number == i}
                ? 'btn btn-primary mx-1'
                : 'btn btn-outline-primary mx-1'">
        </a>

    </span>

    <!-- Next -->
    <a class="btn btn-outline-dark ms-2"
       th:if="${orderPage.hasNext()}"
       th:href="@{/admin/orders(
            page=${orderPage.number + 1},
            keyword=${keyword},
            status=${status},
            fromDate=${fromDate},
            toDate=${toDate}
       )}">
        Next
    </a>

</div>
    

</div>