<div th:fragment="minicartContent">

    <div class="mini-cart-body">

        <div th:if="${#lists.isEmpty(cartItems)}">
            Cart is empty
        </div>

        <div th:unless="${#lists.isEmpty(cartItems)}">

            <div th:each="item : ${cartItems}"
                 class="mini-cart-item">

                <img th:src="${item.imageUrl}"
                     width="60"
                     height="60"
                     style="border-radius:10px; object-fit:cover;">

                <div class="mini-cart-info">

                    <h5 th:text="${item.productName}"></h5>

                    <div class="qty-controls">

                        <button type="button"
                                th:onclick="'updateMiniCart(' + ${item.productId} + ',' + ${item.priceId} + ',' + (${item.quantity}-1) + ')'">
                            -
                        </button>

                        <span th:text="${item.quantity}"></span>

                        <button type="button"
                                th:onclick="'updateMiniCart(' + ${item.productId} + ',' + ${item.priceId} + ',' + (${item.quantity}+1) + ')'">
                            +
                        </button>

                    </div>

                    <p>
                        ₹ <span th:text="${item.subtotal}"></span>
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>