<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{/admin/orders/{id}/status(id=${order.id})}" method="post">

    <select name="status" class="form-control">

        <option th:each="s : ${statuses}"
                th:value="${s}"
                th:text="${s}"
                th:selected="${s == order.status}">
        </option>

    </select>

    <button class="btn btn-success mt-3">Update</button>
	</form>


</body>
</html>